{{#section 'head'}}
     <link rel="stylesheet" href="/styles/seekView.css">
     <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

 {{/section}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
            <li><a id="currentuser" href="/currentuser">USER ID: {{id}}</a></li>

        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <ul class="nav nav-sidebar seek">
        <h3>SEEK AND YE SHALL FIND</h3>
        <li ><a href="/newquery/{{id}}" >New Query</a></li>
        <li><a href="/savedqueries/{{id}}">Saved Queries </a></li>
      </ul>
      <ul class ="nav nav-sidebar geek">
        <h3>GEEKS R US</h3>
        <li><a href="/myskills">My Skills</a></li>

        <a href="/currentuser"class="active"><h3>Edit Profile</h3></a></li>

      </ul>  

  </div>

<div class = "container">

{{!-- choose rankings on skills --}}
  <div class="col-sm-9 col-sm-offset-3 col-md-14 col-md-offset-2 main">
   <div class="table-responsive">
       <table class="table table-striped">
          <thead>
            <tr>
              <th>UserId</th>           
              <th>ZipCode</th>
            </tr>
          </thead>
      <tbody>
      <tr><td>{{profile.username}}</td><td>{{profile.zipcode}}</td></tr>
      </tbody>
      </table>
    <form method="POST" action="/geek/update" class="form-editprofile">
      <label for="html">HTML: </label>
      <input type="text" id="html" name="html" class="form-control" value={{profile.html}} required autofocus width="200">
      <label for="css">CSS: </label>
      <input type="text" id="css" name="css" class="form-control" value={{profile.css}} required autofocus width="200">
      <label for="js">Javascript: </label>
      <input type="text" id="js" name="js" class="form-control" value={{profile.javascript}} required autofocus width="200">
      <label for="sql">MySQL: </label>
      <input type="text" id="sql" name="sql" class="form-control" value={{profile.mysql}} required autofocus width="200">
      <label for="node">Node: </label>
      <input type="text" id="node" name="node" class="form-control" value={{profile.node}} required autofocus width="200">
      <br>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>  
</div>
{{!-- Show results of Query
 --}}
 {{!-- <div class = "row">
     {{> geekresults queries}}
  </div> --}}
