{{#section 'head'}}
     <link rel="stylesheet" href="/styles/geekView.css">
 
 {{/section}}


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
       <li><a href="/seekers">New Query</a></li>
        <li><a href="/savedqueries">Saved Queries </a></li>
        <li><a href="/editprofile">Edit Profile</a></li>
        <li ><a href="/myskills">My Skills</a></li>

      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">Geeks</h2>
      <div class="table-responsive">
       <table class="table table-striped">
          <thead>
            <tr>
              <th>HTML</th>
              <th>CSS</th>
              <th>JavaScript</th>
              <th>MySQL</th>
              <th>Node</th>
            </tr>
          </thead>
          {{#each geeks}}
          <tr>
              <td>{{html}}</td>
              <td>{{css}}</td>
              <td>{{javascript}}</td>
              <td>{{mysql}}</td>
              <td>{{node}}</td>
          </tr>
        {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>