{{#section 'head'}}
     <link rel="stylesheet" href="/styles/seekView.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

 {{/section}}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">GeekSeek</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a id="currentuser" href="/editprofile">USER ID: {{id}}</a></li>
        <li><a id="logout-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <ul class="nav nav-sidebar seek">
      <h3>SEEK AND YE SHALL FIND</h3>
        <li ><a href="/newquery/{{id}}" >New Query</a></li>
        <li><a href="/savedqueries/{{id}}">Saved Queries </a></li>

</ul>
<ul class ="nav nav-sidebar geek">
        <h3>GEEKS R US</h3>
        <li class="activeG"><a href="/myskills">My Skills</a></li>
          <a href="/currentuser"class="active"><h3>Edit Profile</h3></a></li>

    </ul>
  

    
    </div>
    </div>
    </div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">My Skills</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
          <th>html</th>
          <th>css</th>
          <th>javascript</th>
          <th>mysql</th>
          <th>node</th>
          </tr>
          {{#each skills}}
          <tr>
              <td>{{html}}</td>
              <td>{{css}}</td>
              <td>{{javascript}}</td>
              <td>{{mysql}}</td>
              <td>{{node}}</td>
          </tr>
        {{/each}}
        </table>
       </div>
</div> 